.chat-container{ 
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color:rgb(21, 21, 34);
    .header-chat{
      flex: 0 0 auto;
        padding-top: 10px;
         box-shadow: 5px 3px 104px 0px rgb(27, 27, 48);
       
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .user-conversation{
         
            padding-left: 15px;
            // color: rgba(0, 0, 0, 0.473);
            display: flex;
            align-items: center;        
                .status{
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    position: absolute;
                    border: 1px solid white;
                    top: 25px;
                    right: 0;
                   // background-color: greenyellow;
                  }
                  .status-online{
                    background-color: greenyellow;
                  }
                  .status-offline{
                    background-color: red;
                  }
    
          .text-status{
            padding-left: 5px;
            color: white;
    
          }
          .icon-arrow-back{
            color: rgba(0, 0, 0, 0.562);
            padding-right: 5px;
            cursor: pointer;
          }
        }
        .other-method-conversation{
             padding-right: 2rem;
            .icon-method-conversation{
                padding: 0.7rem;
                font-size: 1rem;
                color: #0084FF;
            }
        }
        
    }
    .chat-message{
      flex: 1 1 auto;
      height: 300px;
      padding: 1rem 2rem;
      overflow-y: auto;
      // &::-webkit-scrollbar {
      //   width: 6px;
      //  }
      //   &::-webkit-scrollbar-thumb {
      //   background-color: #f4efef;
      //  }
      //  &::-webkit-scrollbar-track {
      //   background-color: #f1f1f1;
      // }
      // &::-webkit-scrollbar {
      //   width: 0.2rem;
      //   &-thumb {
      //     background-color: #ffffff39;
      //     width: 0.1rem;
      //     border-radius: 1rem;
      //   }
      // }
    }
    .input-chat{
      flex: 0 0 auto;

    }
}